@import "~kouto-swiss/lib/kouto-swiss/index.styl"
normalize()

*
*:after
*:before
    box-sizing inherit

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5

$img($image)
    url('../img/layout/' + $image)

$rem($size)
    ($size / 16) * 1rem
