desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja   = #CD7437
$cinzaBg   = #F2EFED
$laranjaBg = #E3D6CA

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

html
    font-size 16px
    box-sizing border-box
    +tablet()
        font-size 15px
    +mobile()
        font-size 14px

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

opensans($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
