header
    border-top 2px solid $laranja
    border-bottom 2px solid #AFAFAE
    background $cinzaBg
    height 200px
    +mobile()
        height 140px
    .center
        display flex
        align-items center
        height 100%
    .logo
        flex 0 0 125px
        width 125px
        height 175px
        background $img('marca-iat.png') no-repeat center
        text-indent -9999px
        +mobile()
            height 120px
            width 85px
            flex 0 0 85px
            background-size auto 100%
            margin-left 10px
    .titulo
    .texto
        width 480px
    .titulo
        margin-right auto
        height 100%
        display flex
        flex-direction column
        justify-content center
        h1
            opensans 30
            color $laranja
            margin 0
            line-height 1.2
            +mobile()
                font-size $rem(20)
        h2
            opensans 26
            color $laranja
            margin 0
            line-height 1.3
            +mobile()
                font-size $rem(18)
            span
                font-weight bold
        p
            color #666
            opensans 14
            margin 1em 0 0
            a
                font-weight bold
                &:hover
                    color $laranja
    .texto
        margin-left auto
        height 100%
        display flex
        flex-direction column
        justify-content center
        color $laranja
        +below($tablet)
            display none
        h2
            opensans 20 bold
            margin 0 0 .25em
        p
            opensans 15 bold
            font-style italic
            margin 0
            color #000

nav
    background #666
    margin-top -2px
    .center
        display flex
        +mobile()
            flex-direction column
    a
        opensans 15
        color #fff
        padding $rem(10) $rem(16)
        transition background .3s
        &.active
        &:hover
            background $laranja
        + a
            margin-left $rem(10)
            +mobile()
                margin-left 0

main
    margin $rem(45) 0 $rem(105)

footer
    background $cinzaBg
    border-top 2px solid $laranja
    padding $rem(10) 0 $rem(20)
    .center
        display flex
        justify-content space-between
        +mobile()
            flex-direction column
    .informacoes
        display flex
        img
            width 64px
            align-self flex-start
            margin-right $rem(30)
            +mobile()
                display none
        .informacoes-texto
            color #666
            padding-top $rem(10)
            p
                margin 0
                opensans 13
                &.telefone
                    opensans 14 bold
                    margin-bottom .5em
                    padding-left 24px
                    background $img('ico-telefone.png') no-repeat left center
    .copyright
        color #666
        padding-top $rem(10)
        +mobile()
            padding-top $rem(15)
        p
            margin 0
            opensans 10
            + p
                margin-top 1em
        a:hover
            color #000
