.btn
    display inline-block
    border 0
    outline 0
    transition background .3s
    opensans 16 bold
    color #fff
    padding $rem(18) $rem(70)
    cursor pointer
    transition opacity .3s
    &:hover
        opacity .9
    &-primary
        background $laranja
    &-default
        background #666
    &-voltar
        margin-top $rem(40)
    +mobile()
        padding $rem(18)

.btn-inline-group
    display block
    font-size 0
    .btn
        margin-right 10px
        margin-bottom 5px
        +mobile()
            display block
            width 100%
            margin-right 0
            text-align center
