.file-input
  display block
  height 55px
  background #fff
  text-align center
  line-height 55px
  border 1px solid $laranja
  color $laranja
  cursor pointer
  position relative
  opensans 15 bold
  max-width $rem(450)
  span
    display block
    width calc('100% - 20px')
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin 0 auto
    &.ativo
        font-weight bold
  input
    width 0
    height 0
    position absolute
    top 0
    left 0
    z-index -1
