.flash
    width 100%
    display block
    padding $rem(15) $rem(20)
    opensans 13
    text-transform uppercase
    color #fff
    border-radius 4px
    margin-bottom $rem(15)
    line-height 1.5
    text-align left
    &.flash-error
        background #dc4747
    &.flash-success
        background #5cad5c

.info
    border 1px solid $laranjaBg
    padding $rem(15)
    border-radius 4px
    margin-top $rem(8)
    opensans 13
    color #666
    text-align left
    &.info-md
        max-width $rem(890)
        margin-left auto
        margin-right auto
    span
        font-weight bold
        color $laranja
