.form-documento-admin
    width 100%
    margin-bottom $rem(65)
    +mobile()
        margin-bottom $rem(40)
    h3
        opensans 15 bold
        color #666
        margin 0 0 1em
    .row
        display flex
        align-items center
        +mobile()
            display block
        + .row
            margin-top 10px
            +mobile()
                margin-top 15px
        &.link-documento-editar
            margin-bottom 20px
            +mobile()
                margin-top 0
            a
                opensans 13
                color $laranja
                text-decoration underline
                &:hover
                    color #666
        > span
            flex 0 0 $rem(300)
            text-align right
            color #666
            opensans 15
            padding-right $rem(18)
            +mobile()
                display block
                text-align left
                margin-bottom 5px
        input[type=text]
        select
            flex 0 1 $rem(450)
            border 1px solid #ccc
            outline 0
            padding $rem(6) $rem(8)
            background none
            opensans 13
            color #666
            +mobile()
                display block
                width 100%
        select
            max-width $rem(450)
        select:disabled
            background #ddd
        > input[type=submit]
            padding-top 0
            padding-bottom 0
            align-self stretch
            margin-left 10px
            +mobile()
                display block
                width 100%
                margin 10px 0 0
                padding $rem(10) 0
        .file-input
            flex 0 1 $rem(300)
