footer
    background $cinzaBg
    border-top 2px solid $laranja
    .center
        clearfix()
        padding 15px 0 30px
        +mobile()
            padding 15px 0
    .links
        width 490px
        float left
        padding-top 10px
        display flex
        justify-content space-between
        +below($tablet)
            display none
        a
            display block
            text-transform uppercase
            color #777
            opensans 14
            position relative
            padding-left 20px
            &:before
                content ''
                position absolute
                left 0
                top 50%
                width 13px
                height 1px
                background #777
            &:after
                content ''
                position absolute
                left 8px
                top 6px
                width 5px
                height 5px
                border-right 1px solid #777
                border-top 1px solid #777
                transform rotate(45deg)
            + a
                margin-top 5px
            &:hover
                color #000
    .informacoes
        width 360px
        display flex
        float right
        justify-content center
        align-items flex-start
        +below($tablet)
            width 100%
        .iat
            display block
            width 80px
            margin-right 40px
        .informacoes-texto
            margin-top 20px
            p
                color #696969
                opensans 13
                margin 0
                &.telefone
                    opensans 15 bold
                    padding-left 24px
                    background $img('ico-telefone.png') no-repeat left center
                    margin-bottom 5px
        +mobile()
            display block
            .iat
                display inline-block
                vertical-align middle
            .informacoes
                p
                    font-size 12px
                    &.telefone
                        font-size 14px
    .copyright
        border-top 1px solid rgba(#000, .1)
        padding 10px 0
        p
            text-align center
            opensans 9
            color #696969
            margin 0
            a:hover
                color #000
        +mobile()
            p span
                display block
                font-size 0
