header
    background $cinzaBg
    border-top 2px solid $laranja
    border-bottom 1px solid #090001
    > .center
        display flex
        height 150px
        position relative
        align-items center
        +tablet()
            height 140px
        +below(1010px)
            height auto
            padding 15px 0
        .logo
            position absolute
            display block
            width 125px
            height 175px
            text-indent -9999px
            background $img('marca-iat.png') no-repeat center
            left 0
            bottom -46px
            z-index 2
            &:after
                content ''
                position absolute
                width 100%
                height 1px
                background #090001
                left 0
                bottom 0
            +tablet()
                width 115px
                background-size 100% auto
                background-position center bottom
            +below(1010px)
                position relative
                left 0
                bottom auto
                height 150px
                background-size auto 100%
                background-position left center
                &:after
                    display none
        .texto
            color $laranja
            margin-left 160px
            max-width 520px
            h2
                opensans 20 bold
                margin 0 0 5px
            p
                opensans 15 bold
                font-style italic
                margin 0
                color #000
            +tablet()
                margin-left 150px
                margin-right 20px
                h2
                    font-size 17px
                p
                    font-size 13px
            +below(1010px)
                margin-left 35px
                margin-right 50px
            +mobile()
                display none
        .alphageos
            margin-left auto
            p
                text-align center
                opensans 12
                color #777
                margin 0 auto 5px
                transition color .3s
                max-width 250px
                +below($tablet)
                    max-width 155px
                    font-size 11px
            img
                display block
                mix-blend-mode multiply
                margin 0 auto
            &:hover
                p
                    color #000
            +tablet()
                img
                    width 120px
            +mobile()
                img
                    width 120px
    nav
        border-top 1px solid #D9D5D4
        height 45px
        .center
            height 100%
            display flex
            padding-left 125px
            a
                display flex
                height 100%
                align-items center
                padding 0 24px
                opensans 13
                line-height 1.3
                color #777
                text-align center
                border-right 1px solid #D9D5D4
                transition background .3s, color .3s
                text-transform uppercase
                &:hover
                &.active
                    background $laranja
                    color #fff
                &.active
                    font-weight bold
        +above($tablet)
            .center
                a[href='certificacao-de-produtos']
                    max-width 160px
                a[href='certificacao-de-sistemas-de-gestao']
                    max-width 200px
                a[href='avaliacoes-tecnicas']
                    max-width 135px
        +tablet()
            .center
                padding-left 115px
                a
                    padding 0 16px
                    font-size 12px
        +below(1100px)
            height auto
            border-top 0
            .center
                width 100%
                display flex
                flex-wrap wrap
                padding 0
                a
                    display flex
                    align-items center
                    justify-content center
                    width 50%
                    height auto
                    padding 12px
                    font-size 12px
                    border 0
                    border-top 1px solid #D9D5D4
                    &:nth-child(2n)
                        border-left 1px solid #D9D5D4
        +below(310px)
            .center
                a
                    width 100%
                    border-left 0
                    br
                        display none
