.inspecao
    .form-documento-admin.form-documento-inspecao .row > span
        flex 0 0 $rem(200)
    .table
        .td-busca
            padding 0
            .busca
                position relative
                width 100%
                height 40px
                input[type=text]
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background #EDEDED
                    opensans 14 normal italic
                    color #000
                    padding 0 10px
                    padding-right 40px
                    border 0
                    outline 0
                input[type=submit]
                    width 32px
                    height 100%
                    position absolute
                    top 0
                    right 0
                    background $img('lupa.png') no-repeat center
                    cursor pointer
                    outline 0
                    border 0
                    font-size 0
        .td-ordenar
            background $laranja
            text-align right
            padding 0
            a
                color #fff
                opensans 11 bold
                display block
                width 100%
                padding 2px 5px
                &.active
                    background #666
                &:after
                    content ''
                    width 7px
                    height 9px
                    display inline-block
                    background $img('seta-ordenar.png') no-repeat center
                &.asc:after
                    transform rotate(180deg)
    .inspecao-lista-header
        display block
        width 100%
        max-width $rem(890)
        background $laranja
        margin 0 auto 5px
        text-align center
        opensans 15 bold
        color #fff
        padding $rem(12)
        + .table
            border-spacing 0
            border-collapse collapse
            margin 0 auto
            tr
                border-bottom 5px solid #fff
            + .inspecao-lista-header
                margin-top $rem(40)
    .inspecao-show-header
        display flex
        align-items center
        margin-bottom $rem(36)
        h2
            margin 0
            flex 1 0
            text-align left
            margin-right $rem(20)
        +mobile()
            display block
            text-align center
            h2
                margin 0 0 $rem(15)
                text-align inherit

.swal-btn-finalizar
    background $laranja
    &:hover
        background darken($laranja, 10) !important
