.qualidade
    text-align center
    .form-categoria
        margin $rem(40) auto 0
        width 100%
        max-width $rem(420)
        input[type=text]
            width 100%
            display block
            border 1px solid #ccc
            outline 0
            padding $rem(6) $rem(8)
            opensans 13
            color #666
            margin-bottom $rem(10)
    .table
        text-align left
    .qualidade-categoria-handle
        display block
        width 100%
        max-width $rem(890)
        background $laranja
        padding $rem(12)
        margin 0 auto 10px
        display flex
        justify-content center
        align-items center
        cursor pointer
        span
            opensans 15 bold
            color #fff
        + .table
            display none
            border-spacing 0
            border-collapse collapse
            margin -5px auto 32px
            tr
                border-bottom 5px solid #fff
        input
            display none
        &.active
            justify-content space-between
            input
                display block
                height 24px
                flex 0 1 $rem(300)
                background $img('lupa.png') no-repeat 98% center rgba(#fff, .5)
                border 0
                outline 0
                padding 0 5px
                opensans 14 normal italic
                color #000
            +mobile()
                display block
                input
                    margin-top 8px
                    width 100%
