.usuarios
    form
        width 100%
        margin-bottom $rem(65)
        +mobile()
            margin-bottom $rem(40)
        .row
            display flex
            align-items center
            label
                opensans 15
                color #666
                margin-right 5px
                &:not(:first-child)
                    margin-left 5px
            input[type=text]
            input[type=email]
                flex 1
                border 1px solid #ccc
                outline 0
                padding $rem(6) $rem(8)
                opensans 13
                color #666
                margin-right 5px
            select
                align-self stretch
                border 1px solid #ccc
                background #fff
                color #666
                opensans 15
                outline 0
            input[type=submit]
                padding 0 $rem(40)
                align-self stretch
                margin-left 5px
            +below($tablet)
                display block
                label
                    display block
                    margin 0 !important
                    margin-bottom 3px !important
                input[type=text]
                input[type=email]
                select
                    display block
                    width 100%
                    margin 0 0 6px
                select
                    padding 4px
                input[type=submit]
                    display block
                    width 100%
                    margin 0
                    padding 5px 0
