.contato
    margin 0 auto
    padding 50px 0 65px
    .center
        clearfix()
    .informacoes
        width 312px
        float left
        p
            color #696969
            opensans 14
            margin 0
            &.telefone
                opensans 21 bold
                padding-left 24px
                background $img('ico-telefone.png') no-repeat left center
                margin-bottom 5px
    form
        width 680px
        float right
        clearfix()
        .flash
            display block
            width 100%
            padding 15px
            opensans 13
            margin-bottom 12px
            &.flash-error
                border 1px solid #ca9595
                color #5a2626
                line-height 1.3
            &.flash-success
                background $laranja
                color #fff
        input[type=text]
        input[type=email]
        select
        textarea
            width 100%
            display block
            margin-bottom 4px
            border 0
            outline 0
            background $cinzaBg
            opensans 12
            height 30px
            padding 0 7px
            border 1px solid $cinzaBg
            color #000
            &:last-child
                margin-bottom 0
            &.error
                border-color #ca9595
        select
            padding 0 4px
        textarea
            width 100%
            height 132px
            resize none
            padding 7px
        input[type=submit]
            display block
            width 100%
            height 40px
            background $cinzaBg
            opensans 13 bold
            color $laranja
            border 0
            outline 0
            transition background .3s, color .3s
            cursor pointer
            &:hover
                background $laranja
                color #fff
    .mapa
        width 100%
        height 440px
        margin-top 80px
        float left
        iframe
            display block
            width 100%
            height 100%
    +below($tablet)
        .informacoes
        form
            width 100%
    +tablet()
        padding 40px 0
        form
            margin-top 35px
        .mapa
            height 360px
            margin-top 50px
    +mobile()
        padding 25px 0
        .mapa
            height 250px
            margin-top 30px
        .informacoes
            p
                font-size 13px
                &.telefone
                    font-size 16px
        form
            margin-top 25px
            .group
                width 100%
            textarea
                width 100%
                margin 4px 0
            input[type=submit]
                width 100%
                height 35px
