.home
    padding-bottom 100px
    +mobile()
        padding-bottom 5%
    img
        max-width 100%
        display block
    .banner
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        display flex
        align-items center
        justify-content flex-end
        span
            display block
            background $laranja
            opensans 20 bold
            color #fff
            padding 18px 64px
            +tablet()
                font-size 18px
                padding 14px 56px
        +mobile()
            position relative
            height auto
            display block
            span
                text-align center
                font-size 14px
                padding 16px 32px
