.institucional
    padding 55px 0 40px
    .center
        clearfix()
    img
        float left
        width 580px
        margin-right 35px
    .texto
        width 550px
        float left
        *
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        p
            opensans 14
            color #696969
            line-height 2
            +mobile()
                font-size 13px
        ul
            padding 0
            list-style-type none
            margin 1.2em 0
            li
                opensans 14
                color #696969
                position relative
                padding-left 1em
                line-height 1.2
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + li
                    margin-top .8em
        a
            color $laranja
            text-decoration underline
            &:hover
                text-decoration none
    +tablet()
        padding 40px 0
        img
            float none
            width 550px
            display block
            margin 0 auto 30px
        .texto
            float none
            margin 0 auto
    +mobile()
        padding 30px 0
        img
            max-width 100%
            display block
            float none
            margin 0 auto 20px
        .texto
            float none
            margin 0 auto
            max-width 550px
            width 100%
    .politicas
        background $laranjaBg
        margin-top 55px
        padding 45px 0 55px
        h2
            opensans 26
            color $laranja
            margin 0 0 35px
            text-align center
        .pdfs
            display flex
            flex-wrap wrap
            width 90%
            margin 0 auto -25px
            justify-content center
            a
                width 25%
                display block
                text-align center
                text-transform uppercase
                margin-bottom 25px
                padding 0 10px
                .icone
                    width 100px
                    height 100px
                    background $img('ico-pdf.png') no-repeat center #fff
                    border-radius 100%
                    margin 0 auto 20px
                    transition all .3s
                span
                    display block
                    max-width 180px
                    opensans 17 bold
                    color #696969
                    transition color .3s
                    margin 0 auto
                &:last-child
                    margin-right 0
                &:hover
                    .icone
                        box-shadow 0 2px 5px rgba(#000, .3)
                        transform scale(1.1)
                        transform-origin 50% 100%
                    span
                        color #000
        +tablet()
            margin-top 45px
            padding 35px 0 40px
            h2
                font-size 22px
            .pdfs a
                width 50%
                span
                    font-size 15px
        +mobile()
            margin-top 30px
            padding 25px 0 25px
            h2
                font-size 18px
                margin-bottom 20px
            .pdfs a
                width 100%
                span
                    font-size 14px
    .selos
        margin-top 75px
        img
            display inline-block
            vertical-align top
            width auto
            margin-right 70px !important
            margin-bottom 70px !important
        +tablet()
            margin-top 55px
            img
                margin-right 50px !important
                margin-bottom 50px !important
        +mobile()
            margin-top 35px
            img
                height 120px
                margin-right 30px !important
                margin-bottom 30px !important
