.login
    background $img('img-login.jpg') no-repeat center top
    min-height 540px
    .login-links
        display flex
        justify-content center
        padding-top 120px
        margin 0 -15px
        a
            display flex
            flex-direction column
            align-items center
            background $laranja
            padding 30px 30px 22px
            text-align center
            margin 0 15px
            width 33.333%
            max-width 280px
            transition background .3s
            &:hover
                background lighten($laranja, 3)
            h2
                opensans 24 bold
                color #ffffff
                margin 0
            p
                opensans 16
                color #000
                margin .5em 0 1em
            img
                margin-top auto
        +mobile()
            display block
            margin 0
            padding 25px 0
            a
                margin 0 auto
                width 100%
                + a
                    margin-top 20px
                h2
                    font-size 20px
                p
                    font-size 14px
